creating, reading and writing in pandas

In [1]:
import pandas as pd

creating a dataframe

In [2]:
pd.DataFrame({'Yes':[21,50],'No':[54,67]})

   Yes  No
0   21  54
1   50  67

In [3]:
pd.DataFrame({'Santra':["best AI engineer","best Software engineer","best problem solver"],'Ram':["best mathematician","best coder","best footballer"]})

                   Santra                 Ram
0        best AI engineer  best mathematician
1  best Software engineer          best coder
2     best problem solver     best footballer

we can set the index or row labels according to our choice.

In [4]:
pd.DataFrame({'you':[23,80],'No':[89,76]},index=['aaranyak','santra'])

          you  No
aaranyak   23  89
santra     80  76