creating, reading and writing in pandas

In [1]:
import pandas as pd

creating a dataframe

In [2]:
pd.DataFrame({'Yes':[21,50],'No':[54,67]})

   Yes  No
0   21  54
1   50  67

In [3]:
pd.DataFrame({'Santra':["best AI engineer","best Software engineer","best problem solver"],'Ram':["best mathematician","best coder","best footballer"]})

                   Santra                 Ram
0        best AI engineer  best mathematician
1  best Software engineer          best coder
2     best problem solver     best footballer

we can set the index or row labels according to our choice.

In [4]:
pd.DataFrame({'you':[23,80],'No':[89,76]},index=['aaranyak','santra'])

          you  No
aaranyak   23  89
santra     80  76

Series

Dataframe is a table and series is a list.

In [5]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
pd.Series([1,2,3],index=["hello","beautiful","world"])

hello        1
beautiful    2
world        3
dtype: int64

to read csv file and convert to dataframe.

In [7]:
df = pd.read_csv('/home/aaranyak/Documents/10 year coding challenge/Kaggle-Pandas/Kaggle-Pandas/Testing.csv')

In [8]:
df.head()

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Fungal infection
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Allergy
2,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,GERD
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Chronic cholestasis
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Drug Reaction

In [9]:
df.tail()

,itching,skin_rash,nodal_skin_eruptions,continuous_sneezing,shivering,chills,joint_pain,stomach_pain,acidity,ulcers_on_tongue,...,blackheads,scurring,skin_peeling,silver_like_dusting,small_dents_in_nails,inflammatory_nails,blister,red_sore_around_nose,yellow_crust_ooze,prognosis
37,0,1,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,Acne
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Urinary tract infection
39,0,1,0,0,0,0,1,0,0,0,...,0,0,1,1,1,1,0,0,0,Psoriasis
40,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,Impetigo
41,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,Fungal infection

In [10]:
df.shape

(42, 133)