Indexing, Selecting and Assigning.

In [1]:
import pandas as pd
reviews = pd.read_csv('/home/aaranyak/Documents/10 year coding challenge/Kaggle-Pandas/Kaggle-Pandas/winequalityN.csv')

In [2]:
reviews

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [13]:
reviews.shape

(6497, 13)

In python we can access the properties of the objects.

In [4]:
reviews.pH

0       3.00
1       3.30
2       3.26
3       3.19
4       3.19
        ...
6492    3.45
6493    3.52
6494    3.42
6495    3.57
6496    3.39
Name: pH, Length: 6497, dtype: float64

In [6]:
reviews['fixed acidity']

0       7.0
1       6.3
2       8.1
3       7.2
4       7.2
       ...
6492    6.2
6493    5.9
6494    6.3
6495    5.9
6496    6.0
Name: fixed acidity, Length: 6497, dtype: float64

In [7]:
reviews['fixed acidity'][0]

7.0

Indexing

In [8]:
reviews.iloc[0] # selecting the first row in the dataframe.

type                    white
fixed acidity             7.0
volatile acidity         0.27
citric acid              0.36
residual sugar           20.7
chlorides               0.045
free sulfur dioxide      45.0
total sulfur dioxide    170.0
density                 1.001
pH                        3.0
sulphates                0.45
alcohol                   8.8
quality                     6
Name: 0, dtype: object

In [9]:
reviews.iloc[:,0]

0       white
1       white
2       white
3       white
4       white
        ...
6492      red
6493      red
6494      red
6495      red
6496      red
Name: type, Length: 6497, dtype: object

In [10]:
reviews.iloc[:3,0]

0    white
1    white
2    white
Name: type, dtype: object

In [11]:
reviews.iloc[[1,2,3],0]

1    white
2    white
3    white
Name: type, dtype: object

In [12]:
reviews.iloc[-5:]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

label based selection.

In [14]:
reviews.loc[0,'volatile acidity']

0.27

In [15]:
# because our dataset has important values that's why loc is more useful.
reviews.loc[:,['type','citric acid','chlorides']]

       type  citric acid  chlorides
0     white         0.36      0.045
1     white         0.34      0.049
2     white         0.40      0.050
3     white         0.32      0.058
4     white         0.32      0.058
...     ...          ...        ...
6492    red         0.08      0.090
6493    red         0.10      0.062
6494    red         0.13      0.076
6495    red         0.12      0.075
6496    red         0.47      0.067

[6497 rows x 3 columns]

Note: iloc for 0:10 chooses from 0...9 whereas loc for 0:10 chooses from 0...10

Manipulating Index